In [1]:
print("hello")

hello

In [6]:
l=[100,20.3,"Rakshit Chajed"]

In [7]:
l

[100, 20.3, 'Rakshit Chajed']

In [14]:
print(l[:3])

[100, 20.3, 'Rakshit Chajed']

In [17]:
t=(10,20,3,"Rakshit")

In [18]:
t

(10, 20, 3, 'Rakshit')

In [25]:

s={1.22,25,20,33,33,"rakshit",65,22.22}

In [26]:
s

{1.22, 20, 22.22, 25, 33, 65, 'rakshit'}

In [17]:
d={'s1':{'name':'rakshit','marks':[95,88,98]},'s2':{'name':'sahil','marks':[30,30,30]}}

In [18]:
d

{'s1': {'name': 'rakshit', 'marks': [95, 88, 98]},
 's2': {'name': 'sahil', 'marks': [30, 30, 30]}}

In [19]:
for i in d.items():
    print(i)

('s1', {'name': 'rakshit', 'marks': [95, 88, 98]})
('s2', {'name': 'sahil', 'marks': [30, 30, 30]})

In [20]:
d['s1']['marks']

[95, 88, 98]

In [21]:
sum(d['s1']['marks']),sum(d['s2']['marks'])

(281, 90)

In [22]:
sum(d['s1']['marks']),sum(d['s2']['marks'])

(281, 90)

In [23]:
tot=sum(d['s1']['marks'])+sum(d['s2']['marks'])
print(tot)

371

In [24]:
avg=tot/2
print(avg)

185.5